[flake8]
# These are exceptions allowed by Galaxy style guidelines.
ignore = 
    D100,  # Missing docstring in public module
    D101,  # Missing docstring in public class
    D102,  # Missing docstring in public method
    D103,  # Missing docstring in public function
    D104,  # Missing docstring in public package
    D105,  # Missing docstring in magic method
    D106,  # Missing docstring in public nested class
    D107,  # Missing docstring in __init__
    D200,  # One-line docstring should fit on one line with quotes
    D201,  # No blank lines allowed before function docstring
    D202,  # No blank lines allowed after function docstring
    D204,  # 1 blank line required after class docstring
    D205,  # 1 blank line required between summary line and description
    D206,  # Docstring should be indented with spaces, not tabs
    D207,  # Docstring is under-indented
    D208,  # Docstring is over-indented
    D209,  # Multi-line docstring closing quotes should be on a separate line
    D210,  # No whitespaces allowed surrounding docstring text
    D211,  # No blank lines allowed before class docstring
    D300,  # Use “”“triple double quotes”“”
    D301,  # Use r”“” if any backslashes in a docstring
    D400,  # First line should end with a period
    D401,  # First line should be in imperative mood
    D402,  # First line should not be the function’s “signature”
    D403,  # First word of the first line should be properly capitalized
    D412,  # No blank lines allowed between a section header and its content
    D413,  # Missing blank line after last section
    E128,  # Continuation line under-indented for visual indent
    E203,  # Whitespace before ':'
    E402,  # Module level import not at top of file
    E741,  # Do not use variables named 'I', 'O', or 'l'
    W503,  # Line break occurred before a binary operator
    W504,  # Line break occurred after a binary operator
exclude = 
    .ci
    .git
    .tox
    .venv
    training/migrations  # migrations generated by Django
max-line-length = 100
