# Django stuff:
*.log
local_settings.py

# Python virtualenv
.venv
.venv3

# Python build artifacts
build
dist
lib/galaxy.egg-info
.eggs

# Python bytecode
*.py[cod]

# sqlite
*.sqlite
*.sqlite3

# misc.
.tox

# TODO as needed: static, documentation build files, etc.
