<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title>Galaxy TIaaS {% block title %}{% endblock %}</title>
	<link href="{{ config.redirect_location }}/static/style/base.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="{{ config.redirect_location }}/static/dist/base.css" media="screen" rel="stylesheet" type="text/css" />

	<style type="text/css" media="all">
		#center{ padding-right: 10em; padding-left: 10em; overflow-y: auto; }
	</style>
	{% if refresh %}
	<meta http-equiv="refresh" content="5">
	{% endif %}
</head>

<body scroll="no" class="full-content ">
	<div id="everything" style="overflow-y: scroll!important">
		<nav id="masthead" class="navbar navbar-expand justify-content-center navbar-dark">
			<a class="navbar-brand" href="/">
				<span class="navbar-brand-title">Galaxy Training Infrastructure as a Service</span>
			</a>
		</nav>

		<div id="columns">
			<div id="center" class="inbound" style="padding-top: 3em; overflow-y: scroll!important">
				{% block content %}
				{% endblock %}
			</div><!--end center-->
		</div><!--end columns-->
	</div><!--end everything-->
	<div id="dd-helper" style="display: none;"></div>
</body>
</html>

