<!-- Text to be displayed before the advertising section -->
<p>
This service is free for you. For us, we need to care for funding to continue
this service. To do this, we are happy to show the usefulness of our service for
you und we would kindly to ask you to write a small blogpost for our homepage
about your training course given with Galaxy. Some examples you can find on
<a href="{{ settings.TIAAS_OWNER_SITE }}">{{ settings.TIAAS_OWNER_SITE }}</a>.
Please submit your blogpost to {{ settings.TIAAS_EMAIL }}. Thanks a lot!
</p>
