{% extends 'base.html' %}
{% load humanize %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'training/css/about.css' %}">
{% endblock %}


{% block content %}

<div class="container">
  <div class="container-flex text-center my-5">
    <img id="header-img" src="{% static 'training/img/tiaas-logo.png' %}" alt="tiaas logo">
  </div>

  <div class="my-5">
    <p>
      {{ settings.TIAAS_OWNER }}
      is proud to provide Training Infrastructure as a Service (TIaaS) for the
      Galaxy training community.
      You provide the training, we provide the
      infrastructure and cover all costs.
    </p>
  </div>

  <h3> Why TIaaS?</h3>

  <section class="card-group justify-content-between">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1><span class="material-icons">favorite</span></h1>
        </div>

        <div class="card-text">
          TIaaS costs are covered by the Australian BioCommons for Australian
          trainers and researchers.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1><span class="material-icons">speed</span></h1>
        </div>

        <div class="card-text">
          Private job queue to service your training event effectively. See our
          <a href="#">Event Dashboard</a>.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1><span class="material-icons">handyman</span></h1>
        </div>

        <div class="card-text">
          No maintenance or administration required.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1><span class="material-icons">book</span></h1>
        </div>

        <div class="card-text">
          <a href="https://training.galaxyproject.org" target="_blank">
            Official Galaxy Training materials
          </a>
          are regularly tested and highly reliable.
        </div>
      </div>
    </div>
  </section>

  <section>
    <h3>Eligibility</h3>

    <p>
      We have access to large computing capacity, some of which is dedicated
      to provide training for our service. Anyone who provides training using
      Galaxy is eligible to request the use of this service.
    </p>

    <div class="my-5">
      <a class="ga-btn" href="/tiaas/new">Apply now</a>
    </div>
  </section>

  <section>
    <h3>How does it work?</h3>

    <p class="text-info">
      {% lorem 50 w %}
    </p>

    <p class="text-info">
      {% lorem 100 w %}
    </p>

    <p>
      Check our current schedule with the
      <a href="/tiaas/calendar">training calendar</a>.
    </p>
  </section>

</div>

{% endblock %}
