{% extends 'base.html' %}
{% load humanize %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'training/css/about.css' %}">
{% endblock %}


{% block content %}

<div class="container">
  <div class="container-flex text-center my-5 pb-5">
    <img id="header-img" src="{% static 'training/img/tiaas-logo.png' %}" alt="tiaas logo">
  </div>

  <div class="my-5">
    {% include 'snippets/about/1_intro.html' %}
  </div>

  <h3> Why TIaaS?</h3>

  <section class="card-group justify-content-between py-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1><span class="material-icons">favorite</span></h1>
        </div>

        <div class="card-text">
          {% include 'snippets/about/2_why_tiaas_funding.txt' %}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1><span class="material-icons">speed</span></h1>
        </div>

        <div class="card-text">
          Priority job queue to service your training event effectively. See our
          <a href="/tiaas/dashboard-example">Event Dashboard</a>.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1><span class="material-icons">handyman</span></h1>
        </div>

        <div class="card-text">
          No maintenance or administration required.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1><span class="material-icons">book</span></h1>
        </div>

        <div class="card-text">
          <a href="https://training.galaxyproject.org" target="_blank">
            Official Galaxy Training materials
          </a>
          are regularly tested and highly reliable.
        </div>
      </div>
    </div>
  </section>

  <section>
    <h3>Eligibility</h3>

    {% include 'snippets/about/3_eligibility.html' %}

    <div class="my-5">
      <a class="ga-btn" href="/tiaas/new">Apply now</a>
    </div>
  </section>

  <section>
    <h3>How does it work?</h3>

    {% include 'snippets/about/4_how_does_it_work.html' %}

    <p>
      Check our current schedule with the
      <a href="/tiaas/calendar">training calendar</a>.
    </p>
  </section>

</div>

{% endblock %}
