{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2>Calendar</h2>
Data is cumulative since {{ earliest }}

{% for year, months in days.items %}
<h3>{{ year }}</h3>
<div class="row">
	{% for month, days in months.items %}
	<div class="col-sm-3 text-center">
		{{ month }}

		<div class="row">
				<div class="col-sm-1" style="padding: 0.3em;">
					M
				</div>
				<div class="col-sm-1" style="padding: 0.3em;">
					T
				</div>
				<div class="col-sm-1" style="padding: 0.3em;">
					W
				</div>
				<div class="col-sm-1" style="padding: 0.3em;">
					R
				</div>
				<div class="col-sm-1" style="padding: 0.3em;">
					F
				</div>
				<div class="col-sm-1" style="padding: 0.3em;">
					S
				</div>
				<div class="col-sm-1" style="padding: 0.3em;">
					S
				</div>
		</div>

		{% for row in days %}
		<div class="row">
			{% for d in row %}
				{% if d.0 == 0 %}
				<div class="col-sm-1" style="padding: 0.3em;">
				</div>
				{% else %}

				{% widthratio d.1 max_value 83 as width%}
				<div class="col-sm-1" style="background-color:hsla(220, 100%, 30%, 0.{{ width }}); padding: 0.3em;">
					{{ d.1 }}
				</div>
				{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
{% endfor %}

{% endblock %}
