{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}


{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'training/css/register.css' %}">
{% endblock %}


{% block content %}

<!--
django-bootstrap template tag reference:
https://django-bootstrap3.readthedocs.io/en/latest/templatetags.html
-->

<div class="container">
	<h2>Apply for a new allocation</h2>

	<div class="my-5">
		{% include 'snippets/register/1_intro.html' %}
	</div>

	<form action="{% url 'register' %}" method="post" class="form">
		{% csrf_token %}

		<div>
			{% bootstrap_field form.name placeholder="" form_group_class="form-group short-field" %}
			{% bootstrap_field form.email placeholder="" form_group_class="form-group short-field" %}

			{% if settings.TIAAS_RETAIN_CONTACT_REQUIRE_CONSENT %}
			{% bootstrap_field form.retain_contact show_label=False %}
			{% endif %}
		</div>

		<hr>

		<h2>About the Course</h2>

		{% include 'snippets/register/2_about_the_course.html' %}

		<div>
			{% bootstrap_field form.title placeholder="" %}
			{% bootstrap_field form.website placeholder="" %}
			{% bootstrap_field form.description placeholder="" %}
			<div class="row">
				<p class="alert alert-success">
					<b>Hint:</b>
					Check the
					<a href="/tiaas/calendar">training calendar</a>
					before selecting a date! Quiet dates are more likely to be accepted.
				</p>
				{% bootstrap_field form.start form_group_class="col-md-6" %}
				{% bootstrap_field form.end form_group_class="col-md-6" %}
			</div>

			<div class="form-group">
				<label class="control-label" for="location">Training location(s)</label>
				<select
					class="form-control select2"
					name="location"
					id="location"
					multiple="true"
					aria-describedby="locationHelp"
					value="{{ form.location.value|default_if_none:'' }}"
					required
				>
					{% for code, country in form.location.field.choices %}
					<option value="{{ code }}"> {{ country }} </option>
					{% endfor %}
				</select>
				<div id="locationHelp" class="help-block">
					This is where the training will be hosted.
				</div>
			</div>

			{% bootstrap_field form.training_identifier form_group_class="form-group short-field autocomplete-off" %}
		</div>

		<hr>

		<h2>Estimating Resource Usage</h2>

		{% include 'snippets/register/3_resource_usage.html' %}

		<div>
			{% bootstrap_field form.use_gtn form_group_class="form-group x-short-field" show_label=True %}
			{% bootstrap_field form.gtn_links form_group_class="form-group" placeholder="" %}
			{% bootstrap_field form.non_gtn_links form_group_class="form-group" placeholder="" %}
			{% bootstrap_field form.attendance form_group_class="form-group x-short-field" show_label=True placeholder="" %}
		</div>

		{% if settings.TIAAS_SHOW_ADVERTISING %}

		<hr>

		<h2>Advertising</h2>

		{% include 'snippets/register/4_advertising.html' %}

		<div>
			{% bootstrap_field form.advertise show_label=True form_group_class="form-group x-short-field" %}
			<br>
			{% bootstrap_field form.blogpost form_group_class="form-group" %}
		</div>
		{% else %}
		{{ form.advertise.as_hidden }}
		{{ form.blogpost.as_hidden }}
		{% endif %}

		<hr>

		<br><br>

		<p class="lead">Anything else to add?</p>

		<div>
			{% bootstrap_field form.other_requests show_label=False placeholder="Comments" %}
		</div>


		{% include 'snippets/register/5_conclusion.html' %}

		<input type="hidden" id="apology" name="apology" value="">

		{% buttons %}
		<button type="submit" class="btn btn-primary">
			{% bootstrap_icon "star" %} Submit
		</button>
		{% endbuttons %}
	</form>
</div>

{% endblock %}


{% block script %}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">
	$(document).ready( () => {
		// Activate and fill select2 form element
		$('.select2').select2();
		const locations = [
			{% for loc in form.location.value %}
			"{{ loc }}",
			{% endfor %}
		];
		$('#location').val(locations).trigger('change');

		// Disable autocomplete
		$('.autocomplete-off input').attr('autocomplete', 'off');

		// Reorder short form components with the help text below the label
		$('.x-short-field').each( (i, item) => {
			const input = $(item).children('.form-control');
			$(item).children('.help-block').insertBefore(input);
		});

		// If there is an error in the form, scroll to it
		setTimeout( () => {
			if ($('.error').length) {
				console.log("Scrolling to error");
				const y = $('.error').first().offset().top - 100;
				window.scroll({
					top: y,
					behaviour: 'smooth',
				});
			}
		}, 500)
	});

	// Handle apology field from GET param
	const queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);
	if(urlParams.get("apology") !== null) {
		document.getElementById("apology").value = "I am very sorry"
		// Add it to the form, in case they get other validation errors.
		document.getElementsByTagName("form")[0].action = document.getElementsByTagName("form")[0].action + "?" + urlParams.get("apology")
	}
</script>
{% endblock %}
