"""Local settings for tiaas app."""

import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

ALLOWED_HOSTS =[
    "127.0.0.1",
    "localhost",
    "my-tiaas-site.com",
]

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": os.path.join(BASE_DIR, "db.sqlite3"),
    },
    "galaxy": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "tiaas",
        "USER": "tiaas",
        "PASSWORD": "secret",
        "HOST": "localhost",
        "PORT": "5432",
    },
}

GALAXY_SECRET = "enter-secret-string-here"
TIAAS_OWNER = "Galaxy EU"
TIAAS_EMAIL = "None"
TIAAS_OWNER_SITE = "https://mysite.com"

TIAAS_SEND_EMAIL_TO = "root@localhost"
TIAAS_SEND_EMAIL_FROM = "tiaas_noreply@example.org"

TIAAS_SHOW_ADVERTISING = True
TIAAS_RETAIN_CONTACT_REQUIRE_CONSENT = True
TIAAS_GDPR_RETAIN_EXTRA_MONTHS = 12

TIAAS_LOG_FILE = os.path.join(BASE_DIR, 'tiaas.log')
