<p>
  We have several "pools" of resources attached to Galaxy that are
  reserved for running training events. A TIaaS training event is assigned a
  priority to this resource pool and provides stability and predictability
  in tool run time. It has the added bonus, for the trainer, that all jobs
  can be tracked by status (Queued, Running, Complete or Error) allowing for
  real time control of the workshop progress. Access to the training
  priority queue ends after the training event, user data remains accessible
  on Galaxy and user jobs revert to the main job queue.
</p>

<p>
  TiaaS events are subject to our Terms of Service and Privacy Statement. We
  will do our best to have this service online and functioning during the entire
  time period but there are cases where the service may experience interruptions
  that are outside of our control. Where possible, we will notify trainers of
  any known disruption before the associated training dates.
</p>

<p>
  After approval you will receive two links (Join and Status). Trainers are
  encouraged to test their training material inside the TIaaS resource pool
  leading up to the training date(s).
</p>
